* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  transition: 0.4s;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
}

body.active {
  overflow: hidden;
}

::-moz-placeholder {
  color: var(--manatee);
}

:-ms-input-placeholder {
  color: var(--manatee);
}

::placeholder {
  color: var(--manatee);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0deg, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0deg, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0deg, 0%, 70%);
}

.overlay {
  position: fixed;
  z-index: 4;
  opacity: 0;
  background-color: var(--black_25);
  inset: 0;
  pointer-events: none;
}

.overlay.active {
  pointer-events: all;
  opacity: 0.7;
}

:root {
  --red-orange-color-wheel: hsl(17, 96%, 48%);
  --middle-blue-green: hsl(167, 45%, 72%);
  --smokey-black: hsl(0, 0%, 7%);
  --spanish-gray: hsl(0, 0%, 60%);
  --granite-gray: hsl(0, 0%, 40%);
  --tan-crayola: hsl(27, 46%, 58%);
  --light-gray: hsl(0, 0%, 80%);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_25: hsla(0, 0%, 0%, 0.25);
  --black_50: hsla(0, 0%, 0%, 0.4);
  --black_70: hsla(0, 0%, 0%, 0.7);
  --cultured: hsl(220, 16%, 96%);
  --manatee: hsl(218, 11%, 65%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --shadow: 0 0 2px hsla(0, 0%, 0%, 0.2);
  --section-padding: 60px;
}

section {
  padding: var(--section-padding) 0px 20px;
}

/* Media query  */
.container {
  margin: 0px auto;
  padding: 15px 10px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.btn-top {
  position: fixed;
  right: -100px;
  bottom: 15px;
  z-index: 2;
  background-color: var(--tan-crayola);
  color: var(--white);
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn-top.active {
  right: 15px;
}

/*Start Header*/
header {
  background-color: var(--white);
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 3;
}
header.scroll {
  position: fixed;
  transform: translateY(-100%);
  border-bottom: 1px solid var(--black_25);
  -webkit-animation: slideIn 0.5s ease forwards;
          animation: slideIn 0.5s ease forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
header .container .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .header-content .search {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #666;
}
header .container .header-content .search input {
  padding: 5px 7px;
  font-size: 20px;
  width: 100%;
}
header .container .header-content .search span {
  font-size: 20px;
}
@media (max-width: 768px) {
  header .container .header-content .search {
    display: none;
  }
}
header .container .header-content h1 {
  font-size: 30px;
}
header .container .header-content h1 a {
  color: var(--black);
}
header .container .header-content .icons span {
  cursor: pointer;
  font-size: 22px;
  padding: 5px 3px;
  position: relative;
  margin-left: 10px;
}
header .container .header-content .icons span:hover {
  color: var(--tan-crayola);
}
header .container .header-content .icons span .number {
  position: absolute;
  top: 55%;
  right: -8px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  line-height: 12px;
  font-size: 15px;
  color: #fff;
  background-color: var(--tan-crayola);
  text-align: center;
}

nav {
  background-color: var(--white);
  width: 350px;
  height: 100vh;
  position: fixed;
  z-index: 444;
  top: 0px;
  right: -500px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid var(--black_25);
}
nav.active {
  right: 0px;
}
@media (max-width: 320px) {
  nav {
    width: 310px;
  }
}
nav > span {
  cursor: pointer;
  display: block;
  font-size: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--black_50);
}
nav > span:hover {
  color: var(--tan-crayola);
}
nav .language {
  display: flex;
  justify-content: space-between;
}
nav .language .box h3 {
  margin-bottom: 10px;
  font-size: 23px;
}
nav .language .box a {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--spanish-gray);
}
nav .language .box a:hover {
  color: var(--tan-crayola);
}
nav .links a {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--smokey-black);
}
nav .links a:hover {
  color: var(--black_50);
}
nav .contact-us h3 {
  margin-bottom: 10px;
  font-size: 23px;
}
nav .contact-us p {
  margin-bottom: 10px;
  color: var(--spanish-gray);
}
nav .contact-us p:hover {
  color: var(--tan-crayola);
}
nav .social {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .social a {
  font-size: 16px;
  padding-left: 5px;
  color: var(--black);
}
nav .social a:hover {
  color: var(--tan-crayola);
}

/*End Header*/
/*Start Home*/
.home .container .img-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}
@media (min-width: 800px) {
  .home .container .img-1 {
    gap: 1%;
  }
  .home .container .img-1 .box:nth-child(1) {
    flex-basis: 25%;
  }
  .home .container .img-1 .box:nth-child(2) {
    flex-basis: 48%;
  }
  .home .container .img-1 .box:nth-child(3) {
    flex-basis: 25%;
  }
}
.home .container .img-1 img {
  width: 100%;
  height: 400px;
}
@media (max-width: 768px) {
  .home .container .img-1 {
    gap: 15px;
  }
  .home .container .img-1 .box {
    width: 100%;
  }
  .home .container .img-1 .box img {
    width: 100%;
    height: auto;
  }
}
.home .container .img-1 .box {
  position: relative;
  overflow: hidden;
}
.home .container .img-1 .box .box-content {
  position: absolute;
  top: 25px;
  left: 25px;
}
.home .container .img-1 .box .box-content h3 {
  font-size: 25px;
  color: var(--black);
  margin: 10px 0;
  cursor: pointer;
}
.home .container .img-1 .box .box-content h3:hover {
  color: var(--tan-crayola);
}
.home .container .img-1 .box .box-content p {
  font-size: 18px;
  color: var(--black);
}
@media (max-width: 768px) {
  .home .container .img-1 .box .box-content h3 {
    font-size: 20px;
  }
  .home .container .img-1 .box .box-content p {
    font-size: 16px;
  }
}
.home .container .img-2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 15px;
}
.home .container .img-2 .box {
  position: relative;
  overflow: hidden;
}
.home .container .img-2 .box img {
  width: 100%;
}
.home .container .img-2 .box .box-content {
  position: absolute;
  top: 1px;
  left: 15px;
}
.home .container .img-2 .box .box-content h3 {
  font-size: 25px;
  color: var(--black);
  margin: 10px 0;
  cursor: pointer;
}
.home .container .img-2 .box .box-content h3:hover {
  color: var(--tan-crayola);
}
.home .container .img-2 .box .box-content p {
  font-size: 18px;
  color: var(--black);
}
@media (max-width: 768px) {
  .home .container .img-2 .box .box-content h3 {
    font-size: 20px;
  }
  .home .container .img-2 .box .box-content p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .home .container .img-2 {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.home .box:hover img {
  transform: scale(1.1);
}

/*End Home*/
/*Start About*/
.about .container .section-title {
  font-family: "Mr De Haviland", cursive;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
}
.about .container p {
  font-size: 18px;
  text-align: center;
  max-width: 700px;
  line-height: 1.7;
  margin: 15px auto 25px;
}
.about .container .play {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.about .container .play:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: var(--black_25);
}
.about .container .play img {
  width: 100%;
}
.about .container .play:hover img {
  transform: scale(1.2);
}
.about .container .play .icons {
  position: absolute;
  z-index: 22;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .container .play .icons span {
  display: block;
  width: 70px;
  height: 70px;
  line-height: 60px;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
  border: 5px solid #fff;
  text-align: center;
}

/*End About*/
/*Start Products*/
.products .container .header {
  padding: 0px 10px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .products .container .header {
    flex-direction: column;
  }
}
.products .container .header h1 {
  font-size: 35px;
}
@media (max-width: 768px) {
  .products .container .header h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
}
.products .container .header ul {
  display: flex;
  align-items: center;
}
.products .container .header ul li {
  padding: 5px 10px;
  font-size: 18px;
  margin-bottom: 5px;
  cursor: pointer;
  color: var(--black);
}
.products .container .header ul li:not(:last-child) {
  border-right: 1px solid var(--black);
}
.products .container .header ul li.active {
  color: var(--tan-crayola);
}
@media (max-width: 768px) {
  .products .container .header ul {
    justify-content: center;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
  }
}
.products .container .content-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px 15px;
}
.products .container .content-boxs .box {
  text-align: center;
}
.products .container .content-boxs .box .imgs {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.products .container .content-boxs .box .imgs img {
  width: 100%;
}
.products .container .content-boxs .box .imgs .icons {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 120%;
  transform: translate(-50%, -50%);
  transition: 0.6s;
  width: 100%;
}
.products .container .content-boxs .box .imgs .icons span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
.products .container .content-boxs .box .imgs .icons span:hover {
  color: var(--tan-crayola);
}
.products .container .content-boxs .box .imgs:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: var(--black_10);
}
.products .container .content-boxs .box .imgs:hover .icons {
  top: 50%;
}
.products .container .content-boxs .box h3 {
  padding: 15px;
  cursor: pointer;
}
.products .container .content-boxs .box h3:hover {
  color: var(--tan-crayola);
}
.products .container .content-boxs .box .price {
  font-size: 20px;
  font-weight: 500;
  color: var(--spanish-gray);
}
.products .container .content-boxs .box .price .dis {
  font-size: 17px;
  text-decoration: line-through;
}

/*End Products*/
/*Start Blogs*/
.blogs .container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px;
  margin-bottom: 30px;
}
.blogs .container .header h1 {
  font-size: 35px;
}
@media (max-width: 768px) {
  .blogs .container .header h1 {
    font-size: 25px;
  }
}
.blogs .container .header p {
  cursor: pointer;
}
.blogs .container .header p i {
  margin-left: 5px;
}
.blogs .container .header p:hover {
  color: var(--tan-crayola);
}
.blogs .container .blogs-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}
@media (max-width: 768px) {
  .blogs .container .blogs-boxs {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.blogs .container .blogs-boxs .box .imgs {
  position: relative;
  overflow: hidden;
}
.blogs .container .blogs-boxs .box .imgs img {
  width: 100%;
}
.blogs .container .blogs-boxs .box .imgs .btnn {
  position: absolute;
  right: -500px;
  bottom: 0px;
  background-color: #fff;
  color: var(--black);
  padding: 10px;
  cursor: pointer;
}
.blogs .container .blogs-boxs .box .imgs .btnn i {
  margin-left: 5px;
}
.blogs .container .blogs-boxs .box .imgs .btnn:hover {
  color: var(--tan-crayola);
}
.blogs .container .blogs-boxs .box h3 {
  font-size: 20px;
  margin: 10px 0;
}
.blogs .container .blogs-boxs .box h3:hover {
  color: var(--tan-crayola);
}
.blogs .container .blogs-boxs .box p {
  font-size: 16px;
}
.blogs .container .blogs-boxs .box p a {
  color: var(--black);
}
.blogs .container .blogs-boxs .box p a:hover {
  color: var(--tan-crayola);
}
.blogs .container .blogs-boxs .box:hover .btnn {
  right: 0px;
}

/*End Blogs*/
/*Start newsletters*/
.newletter {
  padding-bottom: 60px;
}
.newletter .container {
  background-color: var(--cultured);
}
.newletter .container .content {
  padding: 30px 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}
@media (max-width: 768px) {
  .newletter .container .content {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}
.newletter .container .content .text h3 {
  font-size: 30px;
  margin-bottom: 15px;
}
.newletter .container .content form {
  width: 100%;
  display: flex;
  position: relative;
}
.newletter .container .content form input {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 18px;
}
.newletter .container .content form input:focus {
  outline: 2px solid var(--black_25);
}
.newletter .container .content form button {
  cursor: pointer;
  position: absolute;
  right: 0px;
  font-size: 23px;
  line-height: 30px;
  padding: 10px;
  background: none;
}

/*End newsletters*/
/*Start footer*/
footer {
  padding-top: 20px;
}
footer .container .content-boxs {
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  border-bottom: 1px solid var(--black_25);
}
footer .container .content-boxs .box {
  margin-bottom: 12px;
}
footer .container .content-boxs .box h1 {
  font-size: 27px;
  margin-bottom: 13px;
}
footer .container .content-boxs .box h3 {
  font-size: 25px;
  margin-bottom: 13px;
}
footer .container .content-boxs .box a {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--black);
  display: block;
}
footer .container .content-boxs .box a i {
  width: 30px;
  padding-right: 10px;
}
footer .container .content-boxs .box a:hover {
  color: var(--tan-crayola);
}
footer .container .content-boxs .box span {
  display: flex;
  padding: 10px 0;
}
footer .container .content-boxs .box span span {
  padding-right: 15px;
}
footer .container .content-boxs .box form {
  width: 100%;
  display: flex;
  position: relative;
}
footer .container .content-boxs .box form input {
  width: 100%;
  height: 50px;
  padding: 10px 10px 1px;
  font-size: 18px;
  border-bottom: 1px solid var(--black_25);
}
footer .container .content-boxs .box form input:focus {
  border-color: var(--tan-crayola);
}
footer .container .content-boxs .box form button {
  cursor: pointer;
  position: absolute;
  right: 0px;
  font-size: 20px;
  line-height: 40px;
  padding: 10px;
  background: none;
}
@media (max-width: 768px) {
  footer .container .content-boxs .box h1 {
    font-size: 22px;
  }
  footer .container .content-boxs .box h3 {
    font-size: 20px;
  }
  footer .container .content-boxs .box a {
    font-size: 16px;
  }
  footer .container .content-boxs .box form input {
    font-size: 16px;
  }
}
footer .container .right {
  padding: 20px 0px 5px;
  text-align: center;
  font-size: 20px;
}
footer .container .right span {
  color: var(--tan-crayola);
  font-weight: 600;
}
@media (max-width: 768px) {
  footer .container .right {
    font-size: 16px;
  }
}

/*End footer*//*# sourceMappingURL=main.css.map */