*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    transition: 0.4s;
}
html {
  scroll-behavior: smooth;
}
body{
    background-color: var(--white);
    color: var(--black);
}
body.active{
    overflow: hidden;
}
::placeholder{
    color: var(--manatee);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 70%);
}

.overlay{
    position: fixed;
    z-index: 4;
    opacity: 0;
    background-color: var(--black_25);
    inset: 0;
    pointer-events: none;
}
.overlay.active{
    pointer-events: all;
    opacity: .7;
}

:root{
    --red-orange-color-wheel: hsl(17, 96%, 48%);
    --middle-blue-green: hsl(167, 45%, 72%);
    --smokey-black: hsl(0, 0%, 7%);
    --spanish-gray: hsl(0, 0%, 60%);
    --granite-gray: hsl(0, 0%, 40%);
    --tan-crayola: hsl(27, 46%, 58%);
    --light-gray: hsl(0, 0%, 80%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_25: hsla(0, 0%, 0%, 0.25);
    --black_50: hsla(0, 0%, 0%, 0.4);
    --black_70: hsla(0, 0%, 0%, 0.7);
    --cultured: hsl(220, 16%, 96%);
    --manatee: hsl(218, 11%, 65%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --shadow: 0 0 2px hsla(0, 0%, 0%, 0.2);
    --section-padding: 60px;
}

section{
    padding: var(--section-padding) 0px 20px;
}

/* Media query  */
.container {
margin: 0px auto;
padding: 15px 10px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



/*Start Header*/
  @import './header';
/*End Header*/

/*Start Home*/
  @import './Home';
/*End Home*/

/*Start About*/
  @import './About';
/*End About*/

/*Start Products*/
  @import './Products';
/*End Products*/

/*Start Blogs*/
  @import './Blogs';
/*End Blogs*/

/*Start newsletters*/
  @import './newsletters';
/*End newsletters*/

/*Start footer*/
  @import './footer';
/*End footer*/